{% extends '::base.html.twig' %}

{% block context %}
    <div class="panel">
        <p>You are currently browsing project {{entity.name}}. Here is a list of the packs available for translation in this project.</p>
    </div>
{% endblock %}

{% block body %}
    <h1>Packs in this Project</h1>
    {% if entity.packs is empty %}
        <p>There are no packs in this project yet!</p>
    {% else %}
        {% for pack in entity.packs %}
            <div class="row">
                <div class="large-12 columns">
                    <h2><a href="{{path('packs_show', {id: pack.id})}}">{{pack.name}} - {{pack.version}}</a></h2>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <div class="row actions-after-list">
        <div class="large-12 columns">
            <form action="{{path('projects_packs_new', {id: entity.id})}}"><button>Create a new Pack</button></form>
        </div>
    </div>
{% endblock %}
